<app-header></app-header>
<app-navbar></app-navbar>
<!--Loader start here-->
<div *ngIf="isLoading<2" id="overlay">
    <div class="loader">
            
     </div>
</div> 
<!--Loader end here-->
<div class="loader-container">
    <div class="loader"></div>
</div>
<div class="dashboard-container">
    
    <div class="dashboard-content">
        <router-outlet></router-outlet>
    </div>
    <!-- <div class="content">
        <div class="greeting-container">
            Welcome to Psyon
        </div>
        <form name="myForm" [formGroup]="myForm">
            <div class="pbContainer" *ngIf="progress!=0">
                <div class="progressBar" [style.width.%]="progress"></div>
            </div>{{progress}} % Uploaded!!
            <div class="formInput">
                <input type="file" name="fileName" formControlName="fileName" (change)="onFileInput($event.target.files)" required/>
            </div>
            <button (click)="submit(myForm)" [disabled]="myForm.invalid">Upload</button>
        </form>
    </div> -->
</div>