nav{
    // width: 200px;
    // background: #eee;
    // position: fixed;
    // height: 100%;
    background: #eee;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 60px;
    ul{
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        li{
            padding: 1em;
            a{
                text-decoration: none;
                cursor: pointer;
                color: black;
            }
        }
        li:hover{
            background: #fff;
        }
        .menu-link{
            position: relative;
        }
    }
    .menu-container{
        position: absolute;
        box-shadow: 3px 2px 5px #aaaaaa;
        top: 40px;
        width: 100px;
        display: none;
        background: #fff;
        ul{
            flex-flow: column;
            margin-top: 10px;
            margin-bottom: 10px;
            li{
                padding:12px;
                a{
                    cursor: pointer;
                }
            }
            li:hover{
                background: rgba(0,0,0,.04);
            }
        }
    }
}
li:hover .menu-container{
    display: block
}
.is-active{
    color: #3f51b5 !important;
}