<nav>
    <ul>
        <li>
            <a routerLink="usersubscriptions" routerLinkActive="is-active">User Subscriptions</a>
        </li>
        <li *ngIf="navBarData.length>0" class="menu-link">
            <a>CMS</a>
            <div class="menu-container">
                <ul>
                    <li *ngFor="let item of navBarData">
                        <a routerLink="umbraco/{{item.url}}" (click)="setCmsUrl(item.url)" routerLinkActive="is-active">{{item.name}}</a>
                        
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a routerLink="usermanagement" routerLinkActive="is-active">User Management</a>
        </li>
        <!-- <ng-container *ngIf="navBarData.length>0">
            <li *ngFor="let item of navBarData">
                <a routerLink="umbraco/{{item.url}}" (click)="setCmsUrl(item.url)">{{item.name}}</a>
                
            </li>
        </ng-container> -->
        <!-- <li *ngFor="let item of powerBIData;">
            <a>{{item.Name}}</a>
            <div class="menu-container">
                <ul>
                    <li *ngFor="let powerBiItem of item.lstReport">
                        <a routerLink="powerBI/{{powerBiItem.Name}}" (click)="selectedPowerBIData(powerBiItem.Name)">{{powerBiItem.Name}}</a>
                    </li>
                </ul>
            </div>
        </li> -->
    </ul>
</nav>