.subscription-container{
    display: flex;
    flex-wrap: wrap;
    .subscription-content{
        height: 200px;
        width: 25%;
        margin: 2em;
        border: 2px solid black;
        text-align: center;
    }
    .disabled{
        background: #eee;
        cursor: not-allowed;
        border: #eee;
    }
}