.dashboard-container{
    margin-top: 60px;
    .dashboard-content{
        margin-left: 200px;
    }
    .greeting-container{
        text-align: center;
        font-size: 30px;
        margin-top: 2em;
    }
}