
.mainContainer{
    .user-list-container{
        margin: 10%;
        .heading{
            display: flex;
            h2{
                flex: 1 0 auto;
            }
        }
        table {
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #eee;
          }
        .user-actions{
            text-align: center;
            .fa{
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
    .register-form-container{
        width: 450px;
        height: auto;
        margin: 0 auto;
        //margin-top: 12%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        .usersBtn{
            position: absolute;
            right: 30px;
            top: 120px;
        }
        .heading{
            text-align: center;
            font-size: 25px;
            padding: 10px;
        }
        .formInput{
            .inputBox{
                width: 100%;
                height: 45px;
                border: 1px solid #ccc;
                border-radius: 5px;
                -webkit-appearance: none;
                outline: none;
                padding: 5px;
                font-size: 14px;
            }
        }
        .registerBtnDiv{
            padding: 20px;
            text-align: center;
            button{
                font-size: 15px;
            }
            .registerBtn{
                height: 50px;
                width: 130px;
                background-color: #3f51b5;
                color: white;
                border: 1px solid;
                border-radius: 4px;
                font-size: 19px;
                cursor: pointer;
                outline: none;
            }
            .registerBtn:disabled{
                cursor: not-allowed;
            }
        }
        .registerLinkDiv{
            text-align: center;
            .registerLink{
                color:#1da1f2;
                cursor: pointer;
                font-size: 18px;
            }
        }
    }
}
.products-list{
    list-style: none;
    li:not(:last-child){
        padding-bottom: 10px;
    }
}